:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #1F2421;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8F3985;
  text-decoration: inherit;
}
a:hover {
  color: #E5A4CB;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

div#root{
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

*{
  scrollbar-color: #E5A4CB #59C3C3;
  scrollbar-width: thin;
}

input[type=submit],
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #59C3C3;
  color: #fafafa;
  cursor: pointer;
  transition: background-color 0.25s;
}
input[type=submit]:hover, 
button:hover {
  background-color: #1D70A2;
}
button>a:hover{
  color: #fafafa;
}
input[type=submit]:focus,
input[type=submit]:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  font-family: inherit;
  padding: 3px;
}

input:focus{
  outline: none;
}

.error{
  color: red;
  font-weight: 500;
}

.success{
  color: rgb(61, 255, 2);
  font-weight: 500;
}

.deleteButton{
  background: rgb(231, 53, 53);
}

.deleteButton:hover{
  background: rgb(214, 25, 25);
  border-radius: 25px;
}

.deleteColumn{
  min-width: 70px;
  width: auto;
}

section.table_container{
  width: 100%;
  overflow-x: auto;
  min-width: 600px;
}

table td, table th{
  min-width: 250px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
