.dashboard_hero{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 8px;
    height: fit-content;
}
.dashboard_hero>section{
    width: 30%;
}

.overviews{
    border: 1px solid #1D70A2;
    border-radius: 8px;
    padding-bottom: 12px;
}

.overviews>*{
    margin: 0 auto;
}

.accountsOverview{
    background:#59C3C3;
    border: 1px solid #1D70A2;
    color: white;
    margin:  16px 24px;
    padding: 8px 18px;
    text-align: left;
    border-radius: 8px;
    transition: all ease-in-out 300ms;
}

.accountsOverview:hover{
    background: #1D70A2;
}

.accountsOverview>h3{
    margin: 0;
}

.transactions{
    overflow: auto;
    height: 40%;
    scrollbar-color: #1D70A2 #59C3C3;
    scrollbar-width: thin;
}

.transactions>h2{
    margin: 4px 0;
    padding: 0;
}