nav.navMenu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 96vh;
    padding: 12px;
    justify-content: space-between;
    background-color: #59c3c352;
    border-radius: 0 24px 24px 0;
    transition: all 200ms ease-in-out;
}

nav.navMenu,
nav.navMenu>ul{
    display: flex;
    flex-direction: column;
}

nav.navMenu>ul{
    list-style: none;
    padding: 24px 0 0;
    flex-basis: 75%;
    gap: 12px;
}

nav.navMenu>ul>li{
    text-align: left;
}

nav.navMenu>ul a{
    text-decoration: none;
    color: black;
}

.mobileNav{
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    top: 6px;
    left: 12px;
    z-index: 21324;
    margin: 0;
    cursor: pointer;
    display: none;
    transition: all 200ms ease-in-out;
    background-color: #8F3985;
    color: #fafafa;
    padding: 4px 8px;
    border-radius: 10px;
}

.mobileNav:hover{
    background-color: #E5A4CB;
}

@media screen and (max-width: 600px) {
    nav.navMenu{
        transform: translateX(-150px);
        background-color: #59c3c3d0;
    }
    .mobileNav{
        display: block;
    }
    .mobileNav.move{
        transform: translateX(120px);
    }
    nav.navMenu.open{
        transform: translateX(0);
    }
}