.savingsCard{
    width: 250px;
    padding: 12px;
    border: 1px solid #1D70A2;
    border-radius: 8px;
    text-align: left;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.savingsCard>.flex{
    margin-top: 8px;
    padding: 4px 0 0;
    width: 100%;
}

.savingsCard > p{
    margin: 4px 0;
}

.barContainer{
    height: 24px;
    padding: 6px 0;
    margin: 0;
    font-weight: bold;
}

.savingsCard > .barContainer .bar{
    padding: 4px;
}

.barContainer .bar{
    margin: 0;
    padding: 0;
}