header{
    position: absolute;
    top: 16px;
    left: 130px;
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div,
header>div+div>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

header>div:first-of-type{
    align-items: start;
}

header>div+div, 
header>div+div>div{
    flex-direction: row;
    gap: 12px;
}

header div>*{
    margin: 0;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E5A4CB;
    display: flex;
    justify-content: center;
    align-items: center;
}

header select{
    appearance: none;
    outline: none;
    border: 3px solid #646cffaa;
    padding: 6px 12px;
    margin: 12px;
}

header .changeCurrency{
    width: 200px;
    background-color: #E5A4CB;
    padding: 12px;
    position: absolute;
    top: 55px;
    left: 70%;
}

header .changeCurrency label{
    font-weight: bold;
}

header .changeCurrency input[type="text"]{
    background: #8f39854b;
    color: #fafafa;
    border: none;
    padding: 6px 3px;
    margin: 4px 0 0;
}

header .changeCurrency input[type="submit"]{
    margin: 12px 0;
    background: #8F3985;
}

header .changeCurrency input[type="submit"]:hover{
    box-shadow: 1px 1px 2px 1px #1f242186;
}

.toast{
    position: absolute;
    color: #fafafa;
    font-weight: bold;
    width: 200px;
    padding:12px 24px;
    left: 80%;
    top: 840%;
}

.toastSuccess{
    background: rgb(92, 236, 49);
}

.toastError{
    background: red;
}

@media screen and (max-width: 768px) {
    header>.title_section{
        display: none;
    }
}